#box1 {
	width: 372px;
	height: 118px;
}
#box2 {
	width: 128px;
	height: 118px;
}
#box3 {
	font-size: 0px;
	width: 192px;
	height: 74px;
	padding-bottom: auto;
}
#box3 img, #box3 textarea{
	font-size: 12px;
	margin: 4px;
}
#box3 a {
	font-size: 12px;
}
#box4 {
	font-size: 0;
	width: 308px;
	height: 74px;
	text-align: center;
	display: inline-block;
}
#box5,
#box6 {
	width: 250px;
	height: 100px;
}
.introimage img,
.introimage {
	display: inline;
	height: 128px;
	width: 128px;
}
.introtext {
	display: inline-block;
	width: 238px;
	text-align: justify;
	font-size: 13px;
}

.mybuttonbox div {
	display: inline;
}
.mybuttonbox div div {
	display: inline-block;
}
#mybuttontext {
	display: block;
}
#mybuttoncode {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 88px;
	height: 31px;
}

#buttonguidelinestext {
	display: block;
	width: 100%;
	text-align: center;
}

.friendsbuttonsbox a img{
	margin: 3px;
}