.box {
    font-size: 14px;
}
#box1 {
    width: 530px;
}
#box4, #box5, #box8 {
    height: 80px;
    width: 420px;
}
#box2, #box3, #box6, #box7 {
    height: 96px;
    width: 96px;
    padding: 0px;
}
img {
    height: 96px;
    width: 96px;
}
