.box {
    font-size: 14px;
}
.linkbar {
    /* for later */
    display: none;
}
#box-aboutdescintro {
    width: 560px;
}
#box-aboutimgpc, #box-aboutimgfood, #box-aboutimggrosnounours {
    height: 128px;
    width: 128px;
    padding: 0px;
}
#box-aboutdeschobbies, #box-aboutdescfood, #box-aboutdescgrosnounours {
    height: 108px;
    width: 412px;
}
img {
    height: 128px;
    width: 128px;
}
