.box {
	width: 500px;
	height: 140px;
	display: inline-block;
}
.leftcontainer {
    display: inline-block;
    width: 350px;
}
.rightcontainer {
    display: inline-block;
    width: 150px;
}
.articletitle {
	font-size: 20px;
	color: #99ffff;
}
.articlepreview {
	font-size: 12px;
	color: #ffffff;
}
.articletime {
	color: #dddddd;
	font-weight: bold;
	font-size: 12px;
}
img articleimage {
	width: 128px;
	height: 128px;
	object-fit: cover;
	color: red;
}
