.box {
	width: 500px;
	height: 64px;
	display: inline-block;
    font-size: 0;
}
.leftcontainer {
    display: inline-block;
    width: 436px;
    height: 64px;
}
.rightcontainer {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.articletitle {
	font-size: 18px;
    margin-top: 0px;
    margin-bottom: 1px;
}
.articlepreview {
	font-size: 12px;
	color: #ffffff;
    text-decoration: none;
}
.articlepreview:hover {
    text-decoration: none;
}
.articlepreview:active {
    text-decoration: none;
}
.articletime {
	color: #dddddd;
	font-weight: bold;
	font-size: 11px;
}
.articleimage {
    color:#ffffff;
    font-size: 12px;
}
img articleimage {
	width: 64px;
	height: 64px;
	object-fit: cover;
	color: red;
}
